html
  box-sizing border-box
  -webkit-font-smoothing antialiased

*, *:after, *:before
  box-sizing inherit

body
  background #00c6ff
  background linear-gradient(to left, #00c6ff , #0072ff) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family 'Lato', sans-serif
  font-size 16px
  height 100vh
  margin 0
  padding 0

.hi
  color #fff
  font-size 2em
  font-weight 100
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%)
  input
    background none
    border none
    border-bottom 1px solid #fff
    color #fff
    font-size 16px
    outline none
    padding 10px 0
    text-align center
    width 100%